.logo {
  font-size: var(--head-text);
  white-space: nowrap;
  z-index: 2;
}

.navItem {
  display: block;
  padding: 10px 4px;
  line-height: 100%;
  border-radius: 4px;
  background-color: transparent;
}

.isActive,
.navItem:hover,
.navItem:active,
.navItem:focus {
  background-color: rgba(25,24,24,.08);
}